<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="" method="post"></form>
  <input type="text" placeholder="Enter Name" id="username">
  <input type="password" placeholder="password" id="password">
  <button onclick="MyFunction" id="res">Click Here </button>
  <label id="one"></label>
  <script>
    function MyFunction() {
        username = "user"
        password = "password"
        tuser = document.getElementById("username").value;
        tpass = document.getElementById("password").value;
        if(username==tuser && password==tpass)
        {
        document.getElementById("one").innerHTML = "success"
    } else
      {
      document.getElementById("one").innerHTML = "not success"
    }
  }
  </script>

</body>
</html>